/* TEMP OVERRIDE */
.originUI-tileHeader {
	height: 70px;
	line-height: 70px;
	border-width: 0 0 1px 0;
	border-style: solid;
	text-align: center;
}

#homepage-container {
	margin-top: 50px;
}

#homepage-left,
#homepage-right {
	padding-bottom: 15px;
}

#homepage-left {
	margin: 0;
	width: 200px;
}

#product-list .originUI-listItem.active > a {
	background-color: rgba(51, 181, 229, .25);
}

#homepage-right {
	width: 770px;
	padding-left: 15px;
	padding-right: 15px;
}

/* =======================================================================
	Product
========================================================================== */
#product-summary {
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 15px 0;
	height: 100px;
	position: relative;
}

#productSummary-left,
#productSummary-right {
	height: 75px;
}

#productSummary-left {
	width: 30%;
	float: left;
}

#productSummary-right {
	float: right;
}

#productSummary-title {
	font-weight: normal;
	font-size: 30px;
	font-variant: small-caps;
	margin-top: 0;
}

#productSummary-demo {
	background: transparent url(/img/demo-26x26.png) no-repeat left center;
	position: absolute;
	right: 5px;
	top: 10px;
	height: 26px;
	line-height: 26px;
	font-size: 20px;
	text-indent: 32px;
}

#productSummary-description {
	margin: 0;
	line-height: 20px;
	font-style: italic;
	font-size: 12px;
}

.productSummary-platform {
	font-variant: small-caps;
	text-indent: 25px;
	background-repeat: no-repeat;
	background-position: left center;
	background-size: 18px 18px;
	margin: 0;
}

.productSummary-platform.Desktop {
	background-image: url(/img/desktop-26x26.png);
}

.productSummary-platform.Tablet {
	background-image: url(/img/tablet-26x26.png);
}

.productSummary-platform.Mobile {
	background-image: url(/img/mobile-26x26.png);
}

.productSummary-dimensions {
	padding: 0 10px;
	width: 150px;
	height: 100%;
}

.productSummary-dimensions + .productSummary-dimensions {
	border-left: 1px solid #303030;
}

.productSummary-na {
	display: none;
	text-align: center;
	font-size: 20px;
	margin: 15px 0;
}

.productSummary-dimensions.inactive {
	opacity: .5;
}

.productSummary-dimensions.inactive .productSummary-na {
	display: block;
}

.productSummary-dimensions.inactive ul.originUI-list {
	display: none;
}

.productSummary-dimensions > ul > li {
	margin: 5px 0;
}

#product-preview {
	padding: 15px 0;
	width: 700px;
	height: 700px;
	display: block;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}

#productPreview-initial,
#productPreview-triggered {
	width: 100%;
	height: 100%;
	position: absolute;
	background-repeat: no-repeat;
}

#productPreview-initial {
	z-index: 10;
}

#productPreview-triggered {
	background-position: right top;
	z-index: 0;
}

#productPreview-initial:hover {
	opacity: 0;
}