#homepage-container {
	margin-top: 50px;
}

#homepage-left,
#homepage-right {
	padding-bottom: 15px;
}

#homepage-left {
	margin: 0;
	width: 200px;
}

#homepage-right {
	width: 770px;
	padding-left: 15px;
	padding-right: 15px;
}


/* =======================================================================
	Product
========================================================================== */
#product-summary {
	border-width: 0 0 1px 0;
	border-style: solid;
	padding: 15px 0;
}

#productSummary-left {
	width: 50%;
	margin: 0 15px 0 0;
}

#productSummary-title {
	font-size: 30px;
	font-variant: small-caps;
}

#productSummary-description {
	margin: 0;
	line-height: 20px;
}

#product-preview {
	padding: 15px 0;
	width: 700px;
	height: 630px;
	display: block;
	margin: 0 auto;
	position: relative;
}

#productPreview-grid,
#productPreview-live {
	width: 100%;
	height: 100%;
	position: absolute;
}

#productPreview-live {
	z-index: 10;
}

#productPreview-grid {
	background-position: right top;
	z-index: 0;
}

#productPreview-live:hover {
	opacity: 0;
}