/* =======================================================================
	Defaults
========================================================================== */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Regular.ttf');
}

html {
	font-size: 14px;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	color: #ffffff;
	background-color: #0a3960;
}

a {
	color: inherit;
	text-decoration: none;
	outline: none !important;
}

a:hover {
}

.clear {
	clear: both;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.none {
	display: none;
}

textarea {
	height: auto;
}

.wrapper {
	height: inherit;
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

#footer {
	clear: both;
	font-size: 12px;
	text-align: center;
	margin: 15px 0;
}

/* =======================================================================
	Override
========================================================================== */
body.originUI-superAdmin .originUI-superAdmin {
	visibility: visible;
}

body:not(.originUI-superAdmin) .originUI-superAdmin {
	visibility: hidden;
	height: 0 !important;
}

label {
	cursor: default;
	margin: 0;
}

li {
	line-height: normal;
	margin: 10px 0;
}

.accordion-group {
	border: 0 none;
	margin: 0;
	border-radius: none;
}

.accordion-heading .accordion-toggle {
	background-image: url(/img/icon-accordion-close.png);
	background-repeat: no-repeat;
	background-position: 5px center;
	text-indent: 20px;
	padding: 0;
	border-bottom: 1px solid #303030;
}

.accordion-group.active .accordion-heading .accordion-toggle {
	background-image: url(/img/icon-accordion-open.png);
}

.accordion-body {
	border-bottom: 1px solid #303030;
}

.accordion-inner {
	padding: 0;
	border: 0 none;
}

.CodeMirror {
	width: inherit;
	height: inherit;
}

.modal {
	width: 600px;
	margin-left: -300px;
}

.modal-backdrop {
	background-color: #fff;
}

.modal-backdrop,
.modal-backdrop.fade.in {
	opacity: .6;
}

.open > .dropdown-menu {
	z-index: 1000010;
	opacity: .95;
}

.dropdown-menu>li,
.originUIList-item {
	padding: 0 8px;
	margin: 0 16px;
}

.dropdown-menu>li>a,
.originUIList-item > a {
	margin: 0 -24px;
	padding: 0 24px;
	height: 32px;
	line-height: 32px;
	white-space: nowrap;
	display: block;
}

.originUIList-item > a {
	width: 100%;
}

.dropdown-menu>li+li,
.originUIList-item + .originUIList-item {
	border-color: #303030;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li.active > a,
.dropdown-menu > li.active > a:hover,
.dropdown-menu > li.active > a:active,
.originUIList-item > a:hover,
.originUIList-item.active > a,
.originUIList-item.active > a:hover,
.originUIList-item.active > a:active {
	background-image: none;
	background-color: rgba(51, 181, 229, .25);
}

.nav {
	margin: 0;
}

.nav-tabs > li > a {
	padding: 2px 5px;
	cursor: pointer;
}

/* =======================================================================
	Transitions
========================================================================== */
.originUI-fade-hide,
.originUI-fade-show,
.originUI-fade-enter,
.originUI-fade-leave,
.originUI-fade-move {
	-webkit-transition: all .27s ease !important;
	-moz-transition: all .27s ease !important;
	-o-transition: all .27s ease !important;
	transition: all .27s ease !important;
}


.originUI-fade-hide,
.originUI-fade-show.originUI-fade-show-active,
.originUI-fade-leave,
.originUI-fade-enter.originUI-fade-enter-active,
.originUI-fade-move.originUI-fade-move-active  {
	opacity: 1;
}

.originUI-fade-show,
.originUI-fade-enter {
	opacity: 0;
}

.originUI-fade-hide.originUI-fade-hide-active,
.originUI-fade-leave.originUI-fade-leave-active {
	height: 0;
	opacity: 0;
}

.originUI-fade-move {
	opacity: .5;
}

.originUI-fade-move.originUI-fade-move-active {
	opacity: 1;
}

.originUI-hover {
	-webkit-transition: all .25s ease;
	-moz-transition: all .25s ease;
	-o-transition: all .25s ease;
	transition: all .25s ease;
}

.originUI-bgHover {
	-webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    transition: background-color .3s ease;
}

.originUI-tileHover:hover {
	background-color: rgba(255, 255, 255, .1);	
}

/*
.originUI-expandAnimate-hide,
.originUI-expandAnimate-show {
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

.originUI-expandAnimate-hide {
	opacity: 1;
	height: auto;
}

.originUI-expandAnimate-hide.originUI-expand-hide-active {
	opacity: 0;
	height: 0;
}

.originUI-expandAnimate-show {
	opacity: 0;
	height: 0;
}

.originUI-expandAnimate-show.originUI-expandAnimate-show-active {
	opacity: 1;
	height: auto;
}
*/

/* =======================================================================
	Z-Index
========================================================================== */
.modal {
	z-index: 200000;	
}
.modal-backdrop {
	z-index: 100000;
}

#origin-bar {
	z-index: 900;	
}

/* =======================================================================
	General
========================================================================== */
.originUI-arrow {
	
}

.originUI-back {
	display: block;
	text-indent: 26px;
	background: transparent url(/img/back-26x26.png) no-repeat left center;	
}

.originUI-back:hover {
	background-position: -2px center;
}

.originUI-back:active {
	background-position: 0 center;
}

.originUI-bgColor {
	background-color: #212123;
}

.originUI-bgColorSecondary {
	background-color: #282828;
}

.originUI-bgTexture {
	background-image: url(/img/bg-texture.png);
	background-repeat: repeat;
}

.originUI-borderColor {
	border-color: #0099cc;
}

.originUI-borderColorSecondary {
	border-color: #303030;
}

.originUI-filterEmpty {
	width: 100%;
	text-align: center;
	font-size: 26px;
}

.originUI-fixed {
	position: fixed; 
	top: 0;
}

.originUI-header {
	margin: 5px 0;
	/* text-transform: uppercase; */
	font-weight: normal;
	line-height: normal;
	font-variant: small-caps;
	font-size: 28px;
}

.originUI-hoverColor {
	background-color: rgba(51, 181, 229, .25);
}

.originUI-iconHover {
	opacity: .2;
	cursor: pointer;
}

.originUI-iconHover:hover {
	opacity: 1;
}

.originUI-noSelect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.originUI-placeholder {
	opacity: .5;
	background-image: url(/img/logo-small.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto !important;
	border-width: 2px;
	border-style: dashed;
	border-radius: 5px;
}

.originUI-shadow {
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
}

.originUI-textColor {
	color: #0099cc;
}


/* =======================================================================
	Google Images Style Expansion
========================================================================== */

.originUI-expand .originUI-expandItem::before {
	bottom: -21px;
	left: 50%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #0099CC;
	border-width: 14px;
	margin: -10px 0 0 -14px;
}

.originUI-expand .originUI-expandItem::after {
	bottom: -24px;
	left: 50%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #212123;
	border-width: 15px;
	margin: -10px 0 0 -15px;
	z-index: 100;
}

.originUI-expand .originUI-expandWrapper {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 20px;
	border-width: 1px 0 1px 0;
	border-style: solid;
}

.originUI-expandClose {
	background: transparent url(/img/close-26x26.png) no-repeat center center;
	opacity: .3;
	position: absolute;
	top: 10px;
	right: 10px;
	width: 26px;
	height: 26px;
	text-indent: -5000em;
}

.originUI-expandClose:hover {
	opacity: 1;
}

/* =======================================================================
	Form Fields
========================================================================== */
.originUI-button {
	border-width: 0 0 1px 2px;
	border-style: solid;
	border-color: #0099cc;
	padding: 5px 10px;
	font-size: 16px;
	color: #fff;
}

.originUI-button:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, .1);
}

.originUI-button:disabled {
	opacity: .5;
}

.originUI-field {
	position: relative;
	padding: 0 1px;
}

.originUI-fieldBracket {
	position: absolute;
	bottom: 0px;
	height: 8px;
	width: 100%;
	background-color: #bdbdbd;
}

.originUI-input,
.originUI-textarea {
	position: relative;
	height: 100%;
	width: 100%;
	border-color: #bdbdbd;
	border-style: solid;
	border-width: 0 0 1px;
	margin: 0 1px;
	/* padding: 0 4px; */
	color: inherit;
	font-size: 14px;
	box-sizing: border-box;
}

.originUI-input {
	text-indent: 5px;
}

.originUI-select {
	color: inherit;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #bdbdbd;
	width: 100%;
	height: 25px;
}

.originUI-select:focus {
    outline: none;
}

.originUI-switch {
	position: relative;
	/* width: 100%; */
	width: 100px;
	-webkit-user-select:none; 
	-moz-user-select:none; 
	-ms-user-select: none;
	/* font-size: 18px; */
	font-size: 12px;
}

.originUI-switchInput {
	display: none;
}

.originUI-switchInput:checked + .originUI-switchLabel .originUI-switchInner {
	margin-left: 0;
}

.originUI-switchLabel {
	display: block;
	overflow: hidden;
	cursor: pointer;
}

.originUI-switchInner {
	width: 200%; 
	margin-left: -100%;
	transition: margin 0.3s ease-in 0s;
}

.originUI-switchInner > .originUI-switchActive,
.originUI-switchInner > .originUI-switchInactive {
	float: left; 
	position: relative; 
	width: 50%; 
	height: 23px; 
	line-height: 23px;
	/*
height: 26px; 
	line-height: 26px;
*/
	text-transform: uppercase;
	-moz-box-sizing: border-box; 
	-webkit-box-sizing: border-box; 
	box-sizing: border-box;
}

.originUI-switchInner .originUI-switchActive,
.originUI-switchInner .originUI-switchInactive {
    background-color: #333; 
	color: #FFFFFF;
}

.originUI-switchInner .originUI-switchInactive {	
	text-align: right;
}

.originUI-switchText {
	width: 50%; 
	text-align: center;
	position: absolute; 
	top: 0; 
	bottom: 0;
}

.originUI-switchActive .originUI-switchText,
.originUI-switchDual .originUI-switchInactive .originUI-switchText {
	background: #0099cc; 
}

.originUI-switchInactive .originUI-switchText {
	background: #282828;
	color: #fff;
}

.originUI-switchActive .originUI-switchText {
	left: 0;
}

.originUI-switchInactive .originUI-switchText {
	right: 0;
}

.originUI-switchActive .originUI-switchText:before {
    border-color: #0099cc transparent transparent #0099cc; 
}

.originUI-switchInactive .originUI-switchText:before {
	border-color: transparent #0099CC #0099CC transparent; 
}

.originUI-upload {
	position: relative;
	overflow: hidden;
	text-indent: 20px !important;
	width: 100%;
	height: 26px;
	cursor: pointer;
	background: transparent url(/img/icon-upload-small.png) no-repeat left center;
}

.originUI-uploadLabel {
	position: absolute;
}

.originUI-uploadInput {
	cursor: pointer;
	font-size: 500px;
	height: 100%;
	opacity: .3;
	position: absolute;
	right: 0;
	opacity: 0;
}

/* =======================================================================
	Lists
========================================================================== */
.originUI-list {
	margin: 0;
	padding: 0;
}

.originUI-listItem {
	padding: 0 8px;
	margin: 0 16px;
}

.originUI-listItem > a {
	margin: 0 -24px;
	padding: 0 24px;
	height: 32px;
	line-height: 32px;
	white-space: nowrap;
	display: block;
	background-repeat: no-repeat;
	background-position: left center;
}

.originUI-listItem + .originUI-listItem {
	border-color: #303030;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.originUI-listItem > a:hover,
.originUI-listHover:hover {
	background-image: none;
	background-color: rgba(51, 181, 229, .25);
}

/* =======================================================================
	Modals
========================================================================== */
.originUI-modal {
	position: relative;
}

.originUI-modalRemove {
	position: absolute;
	top: 8px;
	right: 10px;
	background: transparent url(/img/delete-26x26.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	text-indent: -5000em;
}

.originUI-modalRemove:hover {
}

.originUI-modalContent {
	padding: 0 15px;
}

.originUI-modalLeft,
.originUI-modalRight {
	width: 48%;
	position: relative;
}

.originUI-modalLeft {
	float: left;
}

.originUI-modalRight {
	float: right;
}

/* =======================================================================
	Notification
========================================================================== */
#origin-notification {
	z-index: 1000020;
	position: absolute;
	top: 40px;
	right: 5px;
	width: 250px;
	height: 50px;
	border-width: 0 0 1px 3px;
	border-style: solid;
}

.originNotification-default {
	border-color: #669900;
}

.originNotification-alert {
	border-color: #cc0000;
}

#originNotification-icon {
	margin: 12px 10px;
}

#originNotification-message {
	width: 200px;
	height: 100%;
	position: relative;
}

#originNotification-close {
	position: absolute;
	top: 5px;
	right: 5px;
	background: transparent url(/img/notification-close.png) no-repeat 0 0;
	text-indent: -5000em;
	width: 14px;
	height: 14px;
	opacity: .3;
}

#originNotification-close:hover {
	opacity: 1;
}

#originNotification-content {
	font-size: 14px;
	width: 180px;
	margin: 5px 0;
}

/* =======================================================================
	Origin Bar
========================================================================== */
#origin-bar {
	width: 100%;
	height: 37px;
	border-width: 0 0 1px;
	border-style: solid;
	background-color: #000;	
}

#origin-bar.originUI-fixed {
	opacity: .85;
}

#originBar-logo {
	width: 110px;
	height: 100%;
	display: block;
	cursor: pointer;
}

#originBar-logoIcon {
	background: transparent url(/img/logo-small.png) no-repeat center center;
	text-indent: -5000em;
	width: 100%;
	height: 100%;
	display: block;
}

#originBar-logoIcon:hover,
#originBar-logo.open #originBar-logoIcon {
	height: 32px;
	background-position: center 9px;
	border-width: 0 0 5px;
	border-style: solid;
}

#originBar-logoMenu {
	border-width: 0 0 1px 3px;
	border-style: solid;
	margin: 0;
}

#originBar-login,
#originBar-settings,
#originBar-help {
	height: inherit;
	position: absolute;
	right: 30px;
	top: 0;
}

#originBar-search {
	width: 300px;
	left: 50%;
	top: 50%;
	margin: -10px 0 0 -150px;
	position: absolute;
}

body.originClass-guidelines #originBar-search,
body.originClass-login #originBar-search,
body.originClass-edit #originBar-search {
	display: none;
}

#originBar-search .originUI-input {
	background-image: url(/img/icon-search.png);
	background-position: 2px center;
	background-repeat: no-repeat;
	text-indent: 25px;
	height: 20px;
}

#originBar-settingsIcon {
	cursor: pointer;
	background: transparent url(/img/user-18x18.png) no-repeat center center;
	width: 18px;
	height: 100%;
	text-indent: -5000em;
	display: block;
}

#originBar-settingsIcon:hover,
#originBar-settings.open #originBar-settingsIcon {
	background-position: center 10px;
	border-width: 0 0 5px;
	border-style: solid;
	height: 32px;
}

#originBar-settings .dropdown-menu {
	right: 0;
	left: auto;
	border-width: 0 3px 1px 0;
	border-style: solid;
}

#originBar-settings a.originBar-settings,
#originBar-logoMenu a.originBar-settings {
	background-repeat: no-repeat;
	background-position: 10px center;
	text-indent: 10px;
}

#originBar-dashboard {
	background-image: url(/img/dropdown-dashboard.png);
}

#originBar-config {
	background-image: url(/img/settings-18x18.png);
}

#originBar-account {
	background-image: url(/img/dropdown-account.png);
}

#originBar-help {
	background: transparent url(/img/help-18x18.png) no-repeat center center;
	right: 0;
	cursor: pointer;
	text-indent: -5000em;
	width: 18px;
	height: 100%;
	display: block;
}

#originBar-home {
	background-image: url(/img/home-18x18.png);
}

#originBar-logout {
	background-image: url(/img/dropdown-exit.png);
}

#origin-bar.originBar-guest {
	height: 65px;
}

#origin-bar.originBar-guest #originBar-logoIcon:hover {
	height: inherit;
	background-position: center center;
	border: 0px solid black;
}

#origin-bar.originBar-guest #originBar-login {
	position: absolute;
	top: 0;
	right: 20px;
	width: 320px;
	height: 45px;
	margin-top: 15px;
}

#origin-bar.originBar-guest #login-email,
#origin-bar.originBar-guest #login-password {
	margin: 0 5px;
	width: 145px;
}

#origin-bar.originBar-guest #login-settings {
	margin: 3px 0 0 5px;
}

#origin-bar.originBar-guest #originBar-loginSubmit {
	position: absolute;
	color: #fff;
	font-size: 11px;
	bottom: 0;
	right: 7px;
	border-color: #bdbdbd;
	border-width: 1px 0 0 0;
	border-style: solid;
	width: 70px;
	height: 20px;
}

#origin-bar.originBar-guest #originBar-loginSubmit:hover {
	border-width: 2px 1px 1px 1px;
}

#login-settings {
	margin-top: 5px;
	font-size: 12px;
	line-height: 22px;
}

.login-remember-input>label {
	margin: 0 0 0 5px;
}

.login-remember-input>input,
.login-remember-input>label {
	display: inline-block;
	vertical-align: top;
}

/* =======================================================================
	Properties
========================================================================== */
#properties {
	
}

#properties .originUI-tileHeader {
	background-image: url(/img/settings-26x26.png);
}

#properties-form {
	
}

#properties .originUI-list > li {
	padding: 7px 0;
	margin: 0;
}

#properties-left {
	width: 250px;
	border-right: 1px solid #303030;
}

.properties-label {
	width: 100px;
	font-size: 14px;
	line-height: 20px;
}

.properties-input {
	width: 125px;
}

#properties-platform {
	width: 100%;
}

#properties-template {
	width: 200px;
}

.properties-dimensions,
.properties-animations {
	width: 275px;
	margin: 0 15px;
}

#properties-right .properties-label {
	width: 160px;
}

#properties-right .properties-input {
	width: 60px;
}

#properties-right .originUI-input {
	text-align: center;
}

#properties-right .properties-input.originUI-select {
	height: 20px;
	width: 100px;
}

/* =======================================================================
	Tables
========================================================================== */
.originUI-table {
	margin: 5px 0 0;
}

.originUI-tableHead {
	text-align: left;
}

.originUI-tableRow {
	height: 32px;
	cursor: pointer;
}

.originUI-tableRow.inactive {
	opacity: .1;
}

.originUI-tableRow + .originUI-tableRow {
	border-color: #303030;
	border-width: 1px 0 0 0;
	border-style: solid;
}

.originUI-tableRow:hover {
	background-color: rgba(51, 181, 229, .25);
}

.originUI-tableCell {
	padding: 5px 0;
}

.originUI-tableStatus {
	padding-top: 10px;
	width: 50px;
	text-align: center;
}

.originUI-tableDescription {
	padding: 5px 10px;
}

.originUI-tableGroup {
	padding: 0 10px;	
}

.originUI-tableHeadName {
	width: 150px;
}

/* =======================================================================
	Template Config
========================================================================== */

.adTemplate-config {
	margin: 4px 3px;
	width: 20%;
	text-align: center;
	font-size: 12px;
}

#adTemplate-templateConfig {
	display: block;
	height: 200px;
}

#adTemplate-storyboardUpload {
	width: 100%;
	height: 18px;
}

#adTemplate-listHeader,
#adTemplate-editHeader {
	background-image: url(/img/ad-template-26x26.png);
}

#adTemplate-templateConfig .accordion-inner {
}

#adTemplate-templateConfig .originUI-input {
	text-align: center;
}

#adTemplate-configSelector {
	width: 100%;
	margin-left: 0;
	margin-right: 0;
}

#adTemplate-configTrigger .originUI-select {
	height: 20px;
}

#formCreate-template {
	margin: 5px 0 0;
}

#formCreate-storyboard {
	margin: 10px 0;
	border-width: 0 2px 1px 0;
	border-style: solid;
}

#formCreate-description {
	font-size: 12px;
	font-style: italic;
}

#adCreate-modal {
	height: 300px;
}

/*
body.originUI-superAdmin #adCreate-modal {
	height: 215px;
}
*/

.adSettings-label {
	width: 135px;
}

.adSettings-input {
	width: 75px;
}

#adSettings-platform {
	margin: 10px 0;
}

#formCreate-status .originUI-switch {
	width: 145px;
	font-size: 12px;
	margin-left: 1px;
}

#formCreate-thumbnail {
	height: 18px;
}

#formCreate-toggle {
	background: transparent url(/img/settings-26x26.png) no-repeat center center;
	width: 26px;
	height: 26px;
	text-indent: -5000em;
	font-size: 12px;
	position: absolute;
	top: -35px;
	right: 10px;
	opacity: .3;
}

#formCreate-toggle:hover {
	opacity: .7;
}

/*
#formCreate-template {
	margin: 5px 0 11px 0;
}
*/


/* =======================================================================
	Tiles - AUDIT THIS
========================================================================== */

.originUI-tiles {
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	box-shadow: 0 0 4px 1px rgba(0, 0, 0, .5);
	/* box-shadow: 0 0 3px 2px rgba(33, 33, 35, 1); */
	cursor: pointer;
	position: relative;
}

.originUI-tiles:hover {
	transform: scale(1.01, 1.01);
}

.originUI-tiles:active {
	transform: scale(1, 1);
}

.originTile-title {
	color: #fff;
	font-size: 20px;
	text-transform: uppercase;
	position: absolute;
	bottom: 5px;
	right: 10px;
	width: 80%;
	text-align: right;
	border-width: 1px 0 0 0;
	border-style: solid;
	border-color: #ffffff;
}

.originUI-tileLeft,
.originUI-tileRight {
	display: inline-block;
	vertical-align: top;
	position: relative;
}

.originUI-tileLeft {
	width: 250px;
}

.originUI-tileRight {
	width: 750px;
}

.originUI-tileHeader {
	border-style: solid;
	border-width: 0 0 2px;
	text-indent: 45px;
	font-size: 22px;
	line-height: 22px;
	margin: 0;
	padding: 10px 0;
	font-weight: normal;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.originUI-tileContent {
	padding: 0 15px;
}

.originUI-tileFooter {
	border-top: 1px solid #444444;
	height: 42px;
	position: relative;
}

.originUI-tileFooterCenter,
.originUI-tileFooterLeft,
.originUI-tileFooterRight {
	border: 0 none;
	background-color: transparent;
	color: inherit;
	position: absolute;
	width: 50%;
	height: 100%;
	overflow: hidden;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	line-height: 42px;
	cursor: pointer;
}

.originUI-tileFooterCenter:hover:not(:disabled),
.originUI-tileFooterLeft:hover:not(:disabled),
.originUI-tileFooterRight:hover:not(:disabled) {
	background-color: rgba(255, 255, 255, .1);
}

.originUI-tileFooterCenter:disabled,
.originUI-tileFooterLeft:disabled,
.originUI-tileFooterRight:disabled {
	opacity: .5;	
}

.originUI-tileFooterCenter:active,
.originUI-tileFooterLeft:active,
.originUI-tileFooterRight:active {
	padding: 0;
}

.originUI-tileFooterCenter {
	width: 100%;
}

.originUI-tileFooterRight {
	right: 0;
}

.originUI-tileFooterLeft {
	border-right: 1px solid #444444;
}

