/* =======================================================================
	General
========================================================================== */
#container {
	display: table;
    table-layout: fixed;
}

#platform-list,
#platform-form {
	display: table-cell;
}

#platform-list .originUI-listItemLink {
	background-repeat: no-repeat;
	background-position: 15px center;
	background-size: 18px 18px;
	text-indent: 20px;
}

#platform-list {
	width: 200px;
}

#platformList-header {
	width: 199px;
	height: 100px;
	border-width: 0 1px 1px 0;
	border-style: solid;
	position: relative;
	cursor: pointer;
}

#platformList-header:hover {
	background-image: none;
	background-color: rgba(51, 181, 229, .25);
}

#platformList-headerImage {
	position: absolute;
	width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50px 50px;
	left: 50%;
	top: 10px;
	transform: translate(-50%, 0);
}

#platformList-headerTitle {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	font-size: 16px;
}

#platform-list .originUI-list {
	margin: 15px 0;
}

#platform-list .originUI-listItem.inactive {
	opacity: .2;
}

#platform-form {
	width: 770px;
}

#platformForm-header {
	text-indent: 15px;
}

#platformForm-status {
	position: absolute;
	top: -35px;
	right: 15px;
	width: 130px;
}

#platformForm-status .originUI-switch {
	font-size: 12px;
}

#platformForm-content {
	padding: 15px 95px;
	position: relative;
}

#platformForm-content .originUI-listItem {
	padding-top: 10px;
	padding-bottom: 10px;
}

#platformForm-content .platformForm-label {
	width: 175px;
	font-size: 17px;
}

#platformForm-content .platformForm-input {
	width: 350px;
}

#platformForm-buttons {
	padding: 15px 0;
}

#platformForm-remove {
	float: left;
	border-color: #cc0000;
}

#platformForm-submit {
	float: right;
}

/* =======================================================================
	Settings
========================================================================== */

#settings .settings-item {
	position: relative;
	margin: 0 0 15px 15px;
	width: 48%;
	height: 100px;
	border-width: 0 0 1px 2px;
	border-style: solid;
	background-position: 10px center;
	background-size: 90px 90px;
	background-repeat: no-repeat;
}

#settings .settings-itemMeta {
	position: absolute;
	top: 20px;
	right: 10px;
	width: 70%;
	text-align: right;
}

#settings .settings-itemTitle {
	border-width: 0 0 1px 0;
	border-style: solid;
	font-size: 20px;
}

#settings .settings-itemDescription {
	font-size: 13px;
	opacity: .4;
}

#settings-templates {
	background-image: url(/img/ad-template-150x150.png);
}

#settings-components {
	background-image: url(/img/settings-components.png);
}

#settings-demo {
	background-image: url(/img/settings-demo.png);
}

#settings-users {
	background-image: url(/img/settings-users.png);
}

#settings-config {
	background-image: url(/img/settings-config.png);
}

/* =======================================================================
	Ad Templates
========================================================================== */
#ad-template #platformList-headerImage {
	background-image: url(/img/ad-template-150x150.png);
}

/*
#adTemplate-create {
	min-height: 469px;
}

#adTemplate-list {
	min-height: 734px;
}

#adTemplate-createHeader {
	background-image: url(/img/ad-template-add-26x26.png);
}
*/


/* =======================================================================
	Ad Components
========================================================================== */

#ad-component #platformList-headerImage {
	background-image: url(/img/settings-components.png);
}


/*
#adComponent-createHeader {
	background-image: url(/img/ad-component-add-26x26.png);
}


#adComponent-listHeader,
#adComponent-editHeader {
	background-image: url(/img/ad-component-26x26.png);
}

#adComponent-iconUpload {
	width: 100%;
}

#adComponent-list {
	min-height: 402px;
}

#adComponent-table .originUI-tableHeadName {
	width: auto;
}

#adComponent-table .originUI-tableHeadDescription {
	width: 250px;
}

#adComponent-table .originUI-tableName {
	background-position: left center;
	background-size: 18px 18px;
	background-repeat: no-repeat;
	text-indent: 25px;
	white-space: nowrap;
}
*/

/* =======================================================================
	Ad Demo Sites
========================================================================== */
#siteManager-create {
	min-height: 270px;
}

#siteManager-list {
	min-height: 288px;
}

#siteManager-createHeader {
	background-image: url(/img/demo-26x26.png);
}


#siteManager-listHeader,
#siteManager-editHeader {
	background-image: url(/img/demo-26x26.png);
}

/* =======================================================================
	Demo Manager
========================================================================== */

#demo-panel {
	display: none;
	border-width: 0 1px 0 0;
	border-style: solid;
	z-index: 10000;
}

#demoPanel-header {
	background: transparent url(/img/demo-26x26.png) no-repeat 10px center;
	border: 0 none;
}

#demoPanelContent-auto {
	
}

#demoPanel-content .originUI-modalLeft {
	width: 160px;
}

#demoPanel-content .originUI-modalRight {
	width: 100px;	
}

#demoPanel-status label.inline {
	line-height: 23px;
}

#demoPanel-status .originUI-switch {
	margin: 0 0 0 10px;
	width: 110px;
	font-size: 11px;
}

#demoPanel-form .originUI-upload {
	width: 100%;
	font-size: 16px;
}

#demo-panel .originUI-tileFooter {
	border-width: 1px 0;
	border-color: #444444;
	border-style: solid;
}

/* =======================================================================
	User Manager
========================================================================== */

#user-createHeader {
	background-image: url(/img/user-add-26x26.png);
}

#user-listHeader,
#user-editHeader {
	background-image: url(/img/user-26x26.png);
}

#user-list {
	min-height: 495px;
}

#user-table .originUI-tableHeadName {
	width: 100px;
}

.origin-usermgmt-login {
	margin-top: 30px;
	width: 300px;
	background-color: #212123;
	position: relative;
}

.origin-usermgmt-login .originUiModal-header {
	background: transparent url(/img/header-login.png) no-repeat 15px center;
}

#UserLoginForm,
#UserForgotPasswordForm {
	margin: 15px auto;
}

#userList-add,
#userList-listing {
	margin: 10px;
	float: left;
}

#userList-add {
	width: 230px;
}

#userListAdd-header {
	background: transparent url(/img/icon-userAdd-small.png) no-repeat 10px center;
}

#userList-form {
	margin: 10px 15px;
	height: 393px;
}

#userList-listing {
	min-height: 500px;
}

#userAccount-header,
#userListEdit-header,
#userList-header {
	background: transparent url(/img/icon-user-small.png) no-repeat 10px center;
}

#userList-edit .originUiModal-contentLeft>.originUI-list {
	margin: 0 15px 0 0;
}

#systemConfig-header,
#userAccountPassword-header {
	background: transparent url(/img/icon-key-small.png) no-repeat 10px center;	
}

/* =======================================================================
	Permissions
========================================================================== */
#systemConfig-select {
	width: 200px;
	position: absolute;
	top: 10px;
	right: 5px;
}

.systemConfig-tableRow {
	border-bottom: 1px solid #bdbdbd;
}

.systemConfig-tableRow>td {
	padding-bottom: 10px;
}

.systemConfig-tableController {
	padding: 0 15px;	
}

#groupAdd-header {
	background: transparent url(/img/icon-groupAdd-small.png) no-repeat 10px center;
}
