#homepage-container {
	margin-top: 30px;
}

.homepage-product:nth-child(3n+3) .homepageProduct {
	margin-right: 0;
}

.homepage-product {
	height: 137px;
	
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.homepage-product.expand {
	height: 550px;
}

.homepage-product.expand .homepageProduct::after {
	top: auto;
	left: 50%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #212123;
	border-width: 20px;
	margin: -10px 0 0 -15px;
}

.homepageProduct {
	width: 320px;
	margin: 0 15px 15px 0;
	border-width: 0 0 1px 2px;
	border-style: solid;
	position: relative;
	cursor: pointer;
}

.homepageProduct-title {
	margin: 0;
	padding: 5px 0;
	width: 100%;
	text-indent: 10px;
	font-size: 14px;
	font-weight: normal;
}


.homepage-product.expand #homepage-detail {
	height: 350px;
	visibility: visible;
}

#homepage-detail {
	position: absolute;
	top: auto;
	left: 0;
	width: 100%;
	/* height: 350px; */
	margin-top: 10px;
	padding: 15px 0;
	overflow: hidden;
	height: 0px;
	visibility: hidden;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

#homepageDetail-close {
	position: absolute;
	top: 15px;
	right: 15px;
}

#homepageDetail-left,
#homepageDetail-right {
	height: 100%;
	padding: 0 15px;
}

#homepageDetail-left {
	width: 20%;
	height: 100%;
	border-right: 1px solid #303030;
}

#homepageDetail-right {
	width: 735px;
}

/*
#guidelines-initial,
#guidelines-triggered {
	max-width: 720px;
	display: block;
}
*/

.guidelines-imageWrapper {
	max-width: 750px;
	max-height: 200px;
	margin-top: -10px;
	padding: 22px 25px 10px 0;
	position: relative;
}

.guidelines-imageHeight,
.guidelines-imageWidth {
	position: absolute;
	font-size: 14px;
}

.guidelines-imageHeight {
	height: 14px;
	line-height: 0;
	right: 0;
	top: 50%;
	transform: rotate(90deg);
}

.guidelines-imageWidth {
	top: 0;
	left: 45%;
}



/*
#originBar-search {
	width: 200px;
	margin: -10px 0 0 -100px;
}

#homepage-container {
	margin-top: 20px;
}

#homepage-products {
	width: 200px;
	margin-top: 50px;
	position: relative;
}

#homepage-guidelines {
	width: 800px;
	min-height: 650px;
	position: relative;
}

.product-wrapper {
	cursor: pointer;
	position: relative;
	opacity: .3;
}

.homepage-product:hover .product-wrapper,
.homepage-product.active .product-wrapper {
	opacity: 1;
}

.homepage-product + .homepage-product {
	border-width: 1px 0 0 0;
	border-style: solid;
}

.product-name {
	width: 100%;
}

#guidelines-platforms {
	position: absolute;
	top: 7px;
	right: 5px;
}

.guidelines-platformsIcon {
	width: 26px;
	height: 26px;
	cursor: pointer;
	text-indent: -5000em;
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	margin: 0 3px;
	opacity: .1
}

.guidelines-platformsIcon:hover,
.guidelines-platformsIcon.active {
	opacity: 1;
}

.guidelines-platformsIcon.active:hover {
	cursor: default;
}


#homepage-guidelinesHeader {
	text-indent: 15px;
}

#guidelines-platformsDesktop {
	background-image: url(/img/desktop-26x26.png);
}

#guidelines-platformsTablet {
	background-image: url(/img/tablet-26x26.png);
}

#guidelines-platformsMobile {
	background-image: url(/img/mobile-26x26.png);
}

#guidelines-summaryWrapper {
	margin: 10px 0;
}

#guidelines-summaryImage {
}

#guidelines-summaryDescription {
	width: 400px;
	margin: 0 0 0 10px;
}

#guidelines-initial,
#guidelines-triggered {
	border-width: 1px 0 0 0;
	border-style: solid;
}


.guidelines-image {
}
*/