body {
	margin: 0;
}

#demo-reskin {
	background-color: #222;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(/img/_sites/gamerevolution/background.jpg);
}

#header {
	background: transparent url(/img/_sites/gamerevolution/header.png) no-repeat center top;
	width: 100%;
	height: 165px;
	margin: 0 auto;
}

#wrapper {
	background-color: #fff;
	width: 980px;
	display: block;
	margin: 0 auto;
}

#content {
	background: transparent url(/img/_sites/gamerevolution/body.jpg) no-repeat center top;
	width: 980px;
	height: 1285px;
	margin: 0 auto;
	position: relative;
}

.embedAd {
	overflow: hidden;
}

.embedLeaderboard {
	width: 970px;
	min-height: 66px;
	margin: 0 auto;
}

.embedSidebar {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 300px;
	height: 250px;
}