body {
	margin: 0;
}

#demo-reskin {
	background-color: #222;
	background-position: center top;
	background-repeat: no-repeat;
	background-image: url(/img/_sites/gamerevolution/background.jpg);
}

#wrapper {
	background: transparent url(/img/_sites/gamerevolution/body.png) no-repeat center top;
	width: 980px;
	height: 1447px;
	display: block;
	margin: 0 auto;
	position: relative;
}


.embedLeaderboard,
.embedSidebar {
	overflow: hidden;
	position: absolute;
}

.embedLeaderboard {
	width: 970px;
	min-height: 66px;
	top: 175px;
	right: 5px;
}

.embedSidebar {
	position: absolute;
	right: 5px;
	top: 270px;
	width: 300px;
	height: 250px;
}