body {
	font-family: 'Segoe UI', Arial, sans-serif;
/* 	font-family: roboto; */
	margin: 0;
	padding: 0;
	position: relative;
	/* color: #BDBDBD; */
	color: #ffffff;
	background-color: #0a3960;
	background-image: url(/img/bg-texture.png);
	background-repeat: repeat;
}

.originUI-borderColor {
	border-color: #0099cc;
	transition : border .1s ease-in; 
	-webkit-transition : border .1s ease-in; 
	-moz-transition : border .1s ease-in;
	-o-transition : border .1s ease-in;  
}

.originUI-bgColor {
	background-color: #212123;
}

.originUI-bgColorSecondary {
	background-color: #282828;
}

.clear {
	clear: both;
}



#originDemo-wrapper {
	width: 970px;
	margin: 0 auto;
}

.originDemo-advertisement {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 12px;
}

#originDemo-feature {
	border-width: 1px 0 2px 0;
	border-style: solid;
	margin: 10px 0 0;
	width: 100%;
	height: 150px;
	display: block;
	background: #fff url(/img/_sites/origin/feature.jpg) no-repeat center top;
}

#originDemo-left,
#originDemo-right {
	float: left;
	display: block;
	margin-bottom: 15px !important;
}

#originDemo-left {
	margin: 5px 15px;
	width: 625px;
}

#originDemo-contentHeader {
	margin: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	font-weight: normal;
	text-transform: capitalize;
}

#originDemo-right {
	width: 300px;
}

.embedLeaderboard {
	display: block;
	width: 970px;
	margin: 0 auto;
}

.embedSidebar {
	width: 300px;
	overflow-x: hidden;
	padding-bottom: 7px;
	margin: 7px 0;
	border-bottom: 1px solid #303030;
}

#originDemo-sideContent {
	background: transparent url(/img/_sites/origin/content-side.jpg) no-repeat 0 0;
	width: 100%;
	height: 500px;
	display: block;
}

#footer {
	border-top: 1px solid #303030;
	width: 95%;
	margin: 0 auto;
	clear: both;
	font-size: 12px;
	text-align: center;
	padding: 15px 0;
}



/* =======================================================================
	Origin Bar
========================================================================== */
#origin-bar {
	width: 100%;
	height: 37px;
	border-width: 0 0 1px;
	border-style: solid;
	background-color: #000;	
}

#origin-bar.originUI-fixed {
	opacity: .85;
}

#originBar-logo {
	height: 100%;
}

#originBar-logoIcon {
	background: transparent url(/img/logo-small.png) no-repeat center center;
	width: 110px;
	height: inherit;
	text-indent: -5000em;
	display: block;
	cursor: pointer;
}

#originBar-logoIcon:hover {
	height: 32px;
	background-position: center 9px;
	border-width: 0 0 5px;
	border-style: solid;
}