@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto/Roboto-Regular.ttf');
}

html {
	font-size: 14px;
}

body {
	font-family: 'Roboto', Arial, sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	color: #ffffff;
	background-color: #0a3960;
	background-image: url(/img/bg-texture.png);
	background-repeat: repeat;
}

.clear {
	clear: both;
}

#bar {
	background-color: #000;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #0099cc;
	width: 100%;
	height: 37px;
}

#logo {
	background: transparent url(/img/logo-small.png) no-repeat left center;
	width: 970px;
	height: 100%;
	margin: 0 auto;
	display: block;
}

/*
#header {
	background: #fff url(/img/_sites/origin/header.png) no-repeat center 10px;
	box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
	width: 100%;
	height: 300px;
	position: relative;
}

#tagline {
	position: absolute;
	bottom: 10px;
	width: 100%;
	text-align: center;
	color: #000;
	font-size: 20px;
	font-style: italic;
}
*/

.embedLeaderboard {
	display: block;
	min-width: 728px;
	margin: 10px auto;
}

.advertisementLabel {
	display: block;
	text-align: center;
	width: 100%;
	font-size: 12px;
}

#wrapper {
	width: 970px;
	margin: 0 auto;
}

#left,
#right {
	display: inline-block;
	vertical-align: top;
}

#left {
	width: 625px;
	margin: 15px 15px 0 0;
	padding: 10px 15px;
	background-color: #212123;
}

#right {
	width: 300px;
}

#header {
	margin: -10px -15px 15px;
}

.article {
	clear: both;
	border-style: solid;
	border-color: #0099cc;
	height: 150px;
}

.article + .article {
	margin-top: 20px;
}

.article.even {
	border-width: 0 0 1px 4px;
}

.article.even .article-thumbnail,
.article.even .article-blurb {
	float: left;
}

.article.odd .article-thumbnail,
.article.odd .article-blurb {
	float: right;
}

.article.odd {
	border-width: 0 4px 1px 0;
}

.article.even .article-thumbnail {
	margin-right: 15px;
}

.article.odd .article-thumbnail {
	margin-left: 15px;
}

.article-title {
	margin: 0;
}

.article-thumbnail {
	width: 200px;
}

.article-blurb {
	width: 400px
}


#footer {
	font-size: 12px;
	margin: 15px 0;
	text-align: center;
}
/*
body {
	font-family: 'Segoe UI', Arial, sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
	color: #ffffff;
	background-color: #0a3960;
	background-image: url(/img/bg-texture.png);
	background-repeat: repeat;
}

.originUI-borderColor {
	border-color: #0099cc;
	transition : border .1s ease-in; 
	-webkit-transition : border .1s ease-in; 
	-moz-transition : border .1s ease-in;
	-o-transition : border .1s ease-in;  
}

.originUI-bgColor {
	background-color: #212123;
}

.originUI-bgColorSecondary {
	background-color: #282828;
}

.clear {
	clear: both;
}



#originDemo-wrapper {
	width: 970px;
	margin: 0 auto;
}



#originDemo-feature {
	border-width: 1px 0 2px 0;
	border-style: solid;
	margin: 10px 0 0;
	width: 100%;
	height: 150px;
	display: block;
	background: #fff url(/img/_sites/origin/feature.jpg) no-repeat center top;
}

#originDemo-left,
#originDemo-right {
	float: left;
	display: block;
	margin-bottom: 15px !important;
}

#originDemo-left {
	margin: 5px 15px;
	width: 625px;
}

#originDemo-contentHeader {
	margin: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
	font-weight: normal;
	text-transform: capitalize;
}

#originDemo-right {
	width: 300px;
}



.embedSidebar {
	width: 300px;
	overflow-x: hidden;
	padding-bottom: 7px;
	margin: 7px 0;
	border-bottom: 1px solid #303030;
}

#originDemo-sideContent {
	background: transparent url(/img/_sites/origin/content-side.jpg) no-repeat 0 0;
	width: 100%;
	height: 500px;
	display: block;
}

#footer {
	border-top: 1px solid #303030;
	width: 95%;
	margin: 0 auto;
	clear: both;
	font-size: 12px;
	text-align: center;
	padding: 15px 0;
}

#origin-bar {
	width: 100%;
	height: 37px;
	border-width: 0 0 1px;
	border-style: solid;
	background-color: #000;	
}

#origin-bar.originUI-fixed {
	opacity: .85;
}

#originBar-logo {
	height: 100%;
}

#originBar-logoIcon {
	background: transparent url(/img/logo-small.png) no-repeat center center;
	width: 110px;
	height: inherit;
	text-indent: -5000em;
	display: block;
	cursor: pointer;
}

#originBar-logoIcon:hover {
	height: 32px;
	background-position: center 9px;
	border-width: 0 0 5px;
	border-style: solid;
}
*/