	<div class="{{class}}">
		<input type="checkbox" name="{{name}}" class="originUI-switchInput" id="{{name}}" data-ng-model="ngModel" data-ng-change="ngChange()"/>
		<label class="originUI-switchLabel" for="{{name}}">
			<div class="originUI-switchInner">
	    		<div class="originUI-switchActive">
	    			<div class="originUI-switchText">{{active}}</div>
			    </div>
			    <div class="originUI-switchInactive">
			    	<div class="originUI-switchText">{{inactive}}</div>
				</div>
		    </div>
		</label>
	</div>