/* =======================================================================
	Override
========================================================================== */
body {
	position: static;
	background-color: #000;
}

#container {
	width: auto;
	position: static;
}




/* =======================================================================
	Modal - Components
========================================================================== */
#componentModal-remove {
	position: absolute;
	top: 8px;
	right: 10px;
	background: transparent url(/img/delete-26x26.png) no-repeat 0 0;
	width: 26px;
	height: 26px;
	text-indent: -5000em;
	opacity: .2;
}

#componentModal-remove:hover {
	opacity: 1;
}


#componentModal-config {
	border-top: 1px solid #444444;
	margin: 0 15px;
	padding: 10px 0;
	font-size: 12px;
}

#componentModal-content {
	margin: 15px 0;
}

#componentModal-config .originUI-list,
#componentModal-config .originUI-input {
	text-align: center;
	text-indent: 0;
}

#componentModal-config .originUI-list > li {
	display: inline-block;
	width: 100px;
	margin: 0 5px
}

#componentModal-config .originUI-field {
	width: 60%;
	margin: 0 auto;
}

/* =======================================================================
	Panel
========================================================================== */
#panel {
	position: absolute;
	width: 250px;
	bottom: 0;
	left: 0;
	top: 43px;
	border-width: 0 2px 0 0;
	border-style: solid;
}

.panel-accordion .accordion-toggle {
	cursor: pointer;
	height: 32px;
	line-height: 32px;
}

.panel-accordion .originUI-list {
	margin: 5px 10px;
	overflow: hidden;
}

.panel-accordion .originUI-listItem {
}

#panel-components .originUI-listItemLink,
#panel-layers .originUI-listItemLink {
	background-size: 18px 18px;
	background-position: 10px center;
	text-indent: 10px;
} 

/* =======================================================================
	Title bar
========================================================================== */
#title-bar {
	width: 100%;
	height: 42px;
	border-width: 0 0 1px 0;
	border-style: solid;
	position: relative;
}

#titlebar-exit {
	background: transparent url(/img/exit-26x26.png) no-repeat left center;
	margin: 0 5px;
	width: 26px;
	height: 100%;
	text-indent: -500em;
}

#titlebar-title {
	margin: 0;
	padding: 0;
	line-height: 42px;
}

/* =======================================================================
	Workspace bar
========================================================================== */
#workspace-bar {
	position: absolute;
	height: 42px;
	top: 43px;
	left: 252px;
	right: 0;
	border-width: 0 0 1px 0;
	border-style: solid;
}

#state {
	width: 200px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#platform {
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translate(0, -50%);
}

.platform-icon {
	cursor: pointer;
	margin: 0 15px;
	opacity: .1	
}

.platform-icon.active,
.platform-icon:hover {
	opacity: 1;
}

.platform-icon.inactive {
	pointer-events: none;
	cursor: default;
}

/* =======================================================================
	Workspace
========================================================================== */
#adEdit-workspaceAvgrund,
#adEdit-workspace {
	position: absolute;
	top: 86px;
	left: 252px;
	bottom: 0;
	right: 0;
	overflow: auto;
}

#workspace {
	margin: 0 auto;
	display: block;
	position: relative;
	background-color: rgba(255, 255, 255, .2);
	background-repeat: no-repeat;
	background-position: center top;
	top: 50%;
	left: 50%;
}

.workspace-content {
	display: block;
	position: absolute !important;
	cursor: pointer;
}

.workspace-content > *:not(.ui-resizable-handle) {
	width: inherit;
	height: inherit;
	position: absolute;
	overflow: hidden;
	
	/* Disable clicks */
	pointer-events: none;
	cursor: default;
}

.workspace-content.ui-resizable:not(.content-image):not(.content-background) {
	background-color: rgba(0, 153, 204, 0);
	outline: 2px dashed rgba(0, 153, 204, .7);
	outline-offset: -5px;
	
/*
	-webkit-transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-ms-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	transition: all .15s ease-out;
*/
}

.workspace-content.content-background .ui-resizable-handle {
	display: none !important;
}

.workspace-content .ui-resizable-e,
.workspace-content .ui-resizable-w {
	width: 12px;	
}

.workspace-content .ui-resizable-n,
.workspace-content .ui-resizable-s {
	height: 12px;
}

.workspace-content .ui-resizable-ne,
.workspace-content .ui-resizable-se,
.workspace-content .ui-resizable-sw,
.workspace-content .ui-resizable-nw {
	width: 26px;
	height: 26px;
}

.workspace-content:hover:not(.content-background),
.workspace-content:focus:not(.content-background) {
	outline: 2px dashed rgba(0, 153, 204, 1) !important;
	background-color: rgba(0, 153, 204, .3) !important;
}

.workspace-content.content-background {
	outline: none;
}

.workspace-content.content-image .ui-resizable-handle,
.workspace-content.content-image .workspace-content-label,
.workspace-content.content-background .workspace-content-label {
	display: none !important;
}

.workspace-content-label {
	text-align: center;
	overflow: hidden;
	top: 50%;
	height: 30px !important;
	margin-top: -15px !important;
	font-weight: bold;
	font-size: 20px;
	opacity: .7;
	text-transform: uppercase;
	position: absolute;
}


/* =======================================================================
	Avgrund Properties
========================================================================== */
#properties {
	width: 900px;
	height: 370px;
	margin: -185px 0 0 -450px;
}


/* =======================================================================
	Avgrund Default *Created by Hakim El Hattab, http://hakim.se
========================================================================== */ 
.avgrund-active #adEdit-workspace {
	-webkit-transform: scale(0.9);
	   -moz-transform: scale(0.9);
	    -ms-transform: scale(0.9);
	     -o-transform: scale(0.9);
	        transform: scale(0.9);
	        opacity: .6;
}

.avgrund-active #adEdit-workspaceAvgrund {
	/* background-color: rgba(0, 0, 0, .15); */
	background-color: rgba(255, 255, 255, .2);
	transition-duration: .3s;
}

/*

.avgrund-contents {
	position: relative;
	padding: 20px;
	max-width: 400px;
	height: 100%;
	margin: auto;
}
	.avgrund-active .avgrund-contents {
		-webkit-filter: blur(2px);
		   -moz-filter: blur(2px);
		    -ms-filter: blur(2px);
		     -o-filter: blur(2px);
		        filter: blur(2px);
	}
	.no-blur.avgrund-active .avgrund-contents {
		-webkit-filter: none;
		   -moz-filter: none;
		    -ms-filter: none;
		     -o-filter: none;
		        filter: none;
	}
*/

.avgrund-popup {
	position: absolute;
	left: 50%;
	top: 50%;
/*
	width: 340px;
	height: 180px;
	margin: -130px 0 0 -190px;
*/
	visibility: hidden;
	opacity: 0;
	z-index: 2;
	/* padding: 20px; */

/* 	border-radius: 3px; */

	-webkit-transform: scale( 0.8 );
	   -moz-transform: scale( 0.8 );
	    -ms-transform: scale( 0.8 );
	     -o-transform: scale( 0.8 );
	        transform: scale( 0.8 );
}
	.avgrund-active .avgrund-popup-animate {
		visibility: visible;
		opacity: 1;

		-webkit-transform: scale( 1.1 );
		   -moz-transform: scale( 1.1 );
		    -ms-transform: scale( 1.1 );
		     -o-transform: scale( 1.1 );
		        transform: scale( 1.1 );
	}
	.avgrund-popup.stack {
		-webkit-transform: scale( 1.5 );
		   -moz-transform: scale( 1.5 );
		    -ms-transform: scale( 1.5 );
		     -o-transform: scale( 1.5 );
		        transform: scale( 1.5 );
	}
	.avgrund-active .avgrund-popup.stack {
		-webkit-transform: scale( 1.1 );
		   -moz-transform: scale( 1.1 );
		    -ms-transform: scale( 1.1 );
		     -o-transform: scale( 1.1 );
		        transform: scale( 1.1 );
	}


.avgrund-ready #adEdit-workspace,
/* .avgrund-ready .avgrund-contents, */
.avgrund-ready .avgrund-popup
/* .avgrund-ready .avgrund-cover */ {
	-webkit-transform-origin: 50% 50%;
	   -moz-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	     -o-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;

	-webkit-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	   -moz-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	    -ms-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	     -o-transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
	        transition: 0.3s all cubic-bezier(0.250, 0.460, 0.450, 0.940);
}
.avgrund-ready .avgrund-popup.no-transition {
	-webkit-transition: none;
	   -moz-transition: none;
	    -ms-transition: none;
	     -o-transition: none;
	        transition: none;
}

