.hidden {
	display: none;
}

#show {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	font-size: 13px;
	text-indent: 5px;
	background: #fff url(/img/ad/close.png) no-repeat right 5px center;
}